@page
@using Infrastructure.RegionSharding
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h2>Machine: @Environment.MachineName</h2>

<div class="text-center">
    <form method="post">
        <div class="col-2">Текст для оценки:</div>
        <div class="col-10">
            <textarea name="text" rows="5" cols="50"></textarea>
            <input type="submit" />
            
            @* <select asp-for="EmployeeId"  *@
            @*         asp-items="@(new SelectList(Model.EmployeesList, nameof(Employee.Id), nameof(Employee.FullName)))"> *@
            @*     <option>Please select one</option> *@
            @* </select> *@
            
            <select name="country" asp-items="Html.GetEnumSelectList<Country>()"></select>
        </div>
    </form>
</div>